MEMORY {
    ROM: start = $8000, size = $7FFB, fill = yes;
    MONITOR: start = $FFFB, size = $01, fill = yes;
    ROMV: start = $FFFC, size = $4, file = %O, fill = yes;
}

SEGMENTS {
    CODE:     load = ROM, type = ro, start = $8000;
    MONITOR:  load = MONITOR, type = ro;
    VECTORS:  load = ROMV, type = ro;
}
